{% extends "index_base.html" %}
{% load custom_filters %}

{% block head %}
<title>Announcement Details</title>
{% endblock %}

{% block Content %}

<div id="Content">
    <table height="715" width="620">
        <tbody>
            <tr>
                <td>
                    <h2>{{ announcement.title }}</h2>
                    <b>Posted on</b>: {{ announcement.entry_date|date:"M d, Y" }}
                    <br/>
                    <br/>
                    {{ announcement.description|my_markdown }}
                </td>
            </tr>
        </tbody>
    </table>

    <p>[<a href="#top">Top of page</a>]</p>
</div>

{% endblock %}
