{% extends "calendar_base.html" %}
{% load custom_filters %}


{% block head %}
<title>Event Details</title>
<link href="{{STATIC_URL}}css/events.css" rel="stylesheet" type="text/css" title="style.css">
{% endblock %}

{% block body %}


<div class="info-column">

    <h3>{{ event.title }}</h3>
    <b>Start Date</b>: {{ event.start_date|date:"M d, Y g:m a"}}
				<br />			 
			 <b>End Date</b>: {{ event.end_date|date:"M d, Y g:m a" }}   
    <br />
    <b>Location</b>: {{ event.location }}
    <br />
    {{ event.description|my_markdown }}
</div>

{% endblock %}
