{% extends "index_base.html" %}
{% load custom_filters %}


{% block head %}
<title>Event Details</title>
{% endblock %}

{% block Content %}


<div id="Content">
    <table height="715" width="620">
        <tbody>
            <tr>
                <td>
                    <h2>{{ event.title }}</h2>
                    <b>Start Date</b>: {{ event.start_date|date:"M d, Y g:m a"}}
                    <br />			 
                    <b>End Date</b>: {{ event.end_date|date:"M d, Y g:m a" }}   
                    <br />
                    <b>Location</b>: {{ event.location }}
                    <br />
                    <br />
                    {{ event.description|my_markdown }}
                </td>
            </tr>
        </tbody>
    </table>

    <p>[<a href="#top">Top of page</a>]</p>
</div>

{% endblock %}
