{% extends "base.html" %}

{% block head %}
<title>Add Form</title>
<link href="{{STATIC_URL}}css/forms.css" rel="stylesheet" type="text/css" title="style.css">
{% endblock %}

{% block body %}
<div class="padding">
<div id="add_form">

    <h3>{{ Message }}</h3>

    <form method="post" action=".">

        <table>
            {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}:</th><td>{{ field }}</td></td>
            {% if field.errors %}
                <td class="errors">{{ field.errors }}</td>
            {% endif %}
            </tr>
            {% endfor %}
            <tr>
												<td></td>
												<td><br/><input type="submit" name="submit" value="Add" /></td>            
            </tr>
        </table>

        {% csrf_token %}

    </form>

</div>
</div>
{% endblock %}
