.content-box {
  width: 360px;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px #000000;
  -moz-box-shadow: 3px 3px 5px #000000;
  box-shadow: 3px 3px 5px #000000;
  margin-bottom: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#navbar {
  width: 100%;
  list-style-type: none;
}
#navbar a {
  text-decoration: none;
  display: block;
  border-bottom: thin solid #000000;
  width: 90%;
}
#content {
  overflow: hidden;
}
#content ul {
  list-style-type: none;
  padding: 0;
}
#content .left-column {
  width: 20%;
  float: left;
}
#content .middle-column {
  width: 50%;
  float: left;
}
#content .middle-column h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#content .middle-column .table {
  width: 100%;
}
#content .middle-column .table .date {
  font-weight: bold;
  background-color: #79c2db;
  width: 100%;
  overflow: hidden;
  padding: 2px;
  margin-top: 5px;
}
#content .middle-column .table .details {
  font-size: 10pt;
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
}
#content .middle-column .table .details .time {
  float: left;
  width: 20%;
  text-align: left;
  vertical-align: top;
}
#content .middle-column .table .details .description {
  float: right;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content .info-column {
  word-wrap: break-word;
  width: 50%;
  float: left;
}
#content .right-column {
  width: 30%;
  float: right;
}
#content .right-column .padding {
  margin: 10px;
}
#content .right-column .padding li {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
