{% load url from future %}
<table>
	<tr>
		<th><a href="{% url "events.views.month" prev_year prev_month %}">&lt;&lt</a></th>
		<th colspan="5">{{ month_name }} {{ year }}</th>
		<th><a href="{% url "events.views.month" next_year next_month %}">&gt;&gt</a></th>
	</tr>
	<tr>
	{% for dayname in daynames %}
		<th>{{ dayname }}</th>
	{% endfor %}
	</tr>
	{% for week in weeks %}
	<tr>
		{% for day,events,current in week %}
			<td>
			{% if events %}
			<a href="{% url "events.views.day" year month day %}">{{ day }}</a>
			{% elif day %}
			{{ day }}
			{% endif %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>