{% extends "base.html" %}
{% load custom_filters %}
{% block head %}
<title>Events</title>
<link href="{{STATIC_URL}}css/announcements.css" rel="stylesheet" type="text/css" title="style.css">
{% endblock %}

{% block body %}
<!--
<div id="navbar">
    {% if user.is_authenticated %}
    <a href="{% url "events.views.profile" %}">{{ user }}</a>
    <a href="{% url "django.contrib.auth.views.logout" %}">Logout</a>	
    {% else %}
    <a href="{% url "django.contrib.auth.views.login" %}">Login</a>
    {% endif %}
</div>
-->

<div id="content">
    <div class="left-column">
        <div class="padding">
            <h3 class="highlight">Announcements</h3>
            {% if not announcement_list %}
            <p>No new Announcements</p>
            {% endif %}

            <ul>
                {% for announcement in announcement_list %}
                <li><i>Posted on {{ announcement.entry_date|date:"F jS" }}:</i>
                <br />
                <a href="{% url "events.views.announcement_details" announcement.id %}">{{ announcement.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="right-column">
        <div class="padding">    			
            <ul id="navbar">
                <li><a href="{% url "events.views.index" %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
                <li><a href="{% url "events.views.add_announcement" %}">Add Announcement</a></li>
                <li><a href="{% url "events.views.add_event" %}">Add Event</a></li>
                {% else %}
                <li><a href="{% url "django.contrib.auth.views.login" %}">Login</a></li>
                {% endif %}
                <li><a href="{% url "events.views.month" year month %}">Event Calendar</a></li>
            </ul>
            <h3 class="highlight">Upcoming Events</h3>
            <ul>        
                {% if not event_list%}
                <li>No Upcoming Events</li>
                {% endif %}

                {% for event in event_list %}
                <li><a href="{% url "events.views.event_details" event.id %}">{{ event.title }}- {{ event.start_date|date:"F jS" }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
