{% extends "base.html" %}
{% load custom_filters %}

{% block head %}<title>Profile</title>{% endblock %}

{% block body %}

<a href="{% url "events.views.index" %}">Home</a>

{% if user.is_authenticated %}
	<a href="{% url "django.contrib.auth.views.logout" %}">Logout</a>
{% else %}
	<a href="{% url "django.contrib.auth.views.login" %}">Login</a>
{% endif %}

<a href="{% url "events.views.add_event" %}">[Add Event]</a>
<a href="{% url "events.views.add_announcement" %}">[Add Announcement]</a>

<h3>Announcements</h3>
{% if not announcement_list %}
<p>No new Announcements</p>
{% endif %}

<ul>
{% for announcement in announcement_list %}
	<li><i>Posted on {{ announcement.entry_date|date:"F jS" }}:</i>
	</br>
	<a href="{% url "events.views.announcement_details" announcement.id %}">{{ announcement.title }}</a></li>
{% endfor %}
</ul>

<h3>Events</h3>
{% if not event_list%}
<p>No Upcoming Events</p>
{% endif %}

<ul>
{% for event in event_list %}
	<li><a href="{% url "events.views.event_details" event.id %}">{{ event.title }}- {{ event.start_date|date:"F jS" }}</a></li>
{% endfor %}
</ul>

{% endblock %}