{% load inclusion_tags %}
<!DOCTYPE html> 
<html>

    <head>
        <meta charset="utf-8" />	
        <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" title="style.css">
        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="inner-page">
            {% block header %}

         
                <div id="header">
                    <div class="padding">
                    	<a id="head_home" href="{% url "events.views.index" %}">
                            <!--	<img src="{{STATIC_URL}}images/Stark.jpg" alt="Stark"/> -->
                       <h1 class="highlight">Events and Announcements</h1>
                        </a>
                    </div>	
                </div>	
           

            {% endblock %}
            <div id="content">
                <div class="left-column">

                    <div id="navbar">
                        <div class="padding">
                        				<ul>
                            <li><a href="{% url "events.views.index" %}">Home</a></li>

                            {% if user.is_authenticated %}
                            <li><a href="{% url "events.views.add_event" %}">Add Event</a></li>
                            <li><a href="{% url "events.views.add_announcement" %}">Add Announcement</a></li>
                            <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>             
                            {% else %}
                            <li><a href="{% url "django.contrib.auth.views.login" %}">Login</a></li>
                            {% endif %}
                            </ul>
                          <!--  <div id="images">
                            			<img src="{{STATIC_URL}}images/Stark.jpg" alt="Stark"/>
                            			<img src="{{STATIC_URL}}images/Thor.jpg" alt="Thor"/>
                            			<img src="{{STATIC_URL}}images/Hulk.jpg" alt="Hulk"/>
                            			<img src="{{STATIC_URL}}images/Capt_America.jpg" alt="Cap"/>
                                    </div> -->
                        </div>
                    </div>			
                </div>



                {% block body %}{% endblock %}


                <div class="right-column">
                    <div class="padding">
                        {% calendar_html year month %}

                    
                        <ul>     
                        	<li><h3 class="highlight">Announcements</h3></li>
                            {% if not announcement_list%}
                            <li>No Announcements</li>
                            {% endif %}

                            {% for announcement in announcement_list %}
                            <li><i>Posted on {{ announcement.entry_date|date:"F jS" }}:</i>
                            <br />
                            <a href="{% url "events.views.announcement_details" announcement.id %}">{{ announcement.title }}</a></li>
                            {% endfor %}
                        </ul>
                            <ul>
                                <h3 class="highlight">FEEDS</h3>
                                <li><a href="/feeds/announcements/" rel="alternate" type="application/rss+xml"><img alt="" style="vertical-align:middle;border:0" src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png"/></a>
        						<a href="/feeds/announcements/">Subscribe to Atom feed</a><br>
                                </li>
                            </ul>
                    </div>
                </div>

            </div>
            {% block footer %}{% endblock %}
        </div>
    </body>

</html>
